{% extends 'base.html.twig' %}


{% block body %}

 {#   prenom "user."#}

    <h1>todo : ici la page profil</h1>
          <section>
              <div> Pseudo:</div>
            {{ participant.pseudo }}
              <div> prenom:</div>
            {{ participant.prenom }}
              <div> nom:</div>
            {{ participant.nom }}
              <di> email:</di>
            {{ participant.email }}
              <div> telephone:</div>
            {{ participant.telephone }}

        </section>



   {% endblock %}

{% block title %}
    {{ parent() }} | profil
{% endblock %}
