{% extends 'base.html.twig' %}


{% block body %}

 {#   prenom "user."#}

    <h1>todo : ici la page profil</h1>
          <section>
            {{ participant.pseudo }}
            {{ participant.prenom }}
            {{ participant.nom }}
            {{ participant.email }}
            {{ participant.telephone }}

        </section>



   {% endblock %}

{% block title %}
    {{ parent() }} | profil
{% endblock %}
