{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Créer une sortie
{% endblock %}

{% block body %}

    <h2>Créer une nouvelle sortie</h2>

    <p>Veuillez renseigner les champs suivants :</p>

    {{ form_start(SortiesType) }}

    {{ form_widget(SortiesType) }}

    <button>Valider</button>

    <p>Test</p>

    {{ form_end(SortiesType) }}

    <a href="{{ path('lieu_creer') }}" title="Créer un lieu">Ajouter un nouveau lieu de sortie !</a>
{% endblock %}
